<div class="row">
    <div class="col-md-4 p-4" *ngFor="let photo of photos">
        <div class="card card-photo" (click)="selected_card(photo._id)">
            <div class="card-header bg-danger text-light">
                {{photo.title}}
            </div>
            <img [src]="'http://localhost:4000/' + photo.imagePath" class="img-card-top w-100" style="max-width: 350px; max-height: 320px">
            <div class="card-body bg-white text-dark">
                {{photo.description}}
            </div>
        </div>
    </div>
</div>
