<div class="row" *ngIf="!photo; else loadedPic">
    <div class="col-md-5">
        <div class="card bg-success text-white ">
            <img src="assets/robot.jpg" class="mt-4" style="border-radius: 50%;"width="200" height="200" alt="buscando..." loading="lazy">
            <h2 class="mt-4">Cargando...</h2>
        </div>
    </div>
</div>

<ng-template #loadedPic>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:4000/' + photo.imagePath" class="img-fluid" alt="photo.id">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card bg-warning" style="border: 5px rgb(34, 139, 200) solid;">
                <form class="card-body" (submit)="updatephoto(photo._id,photo.title,photo-description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Titulo de la foto" [value]="photo.title">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Descripcion de la photo" [value]="photo-description"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="button btn-info text-primary btn-block">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deletephoto(photo._id)">Eliminar</button>
</ng-template>