<div class="jumbotron jumbotron-fluid bg-primary text-warning " style="border: 5px solid yellow;">
    <div class="container">
      <h1 class="display-4">BIENVENIDO A TU APLICACION MOUNTPIC</h1>
      <div class="mt-2" style="text-align: center;"><img src="assets/icono.png" width="200" height="200"></div>
      
      <p class="lead">En este sitio podrás almacenar todas tus fotografias, este será tu albúm personal, es hora de llevar toda tu imagionación a otro nivel ¿estás listo?</p>
    </div>
  </div>